%# -*- html -*-
% global theme version fwvariant fwversion
<html>
<head>
<meta charset="utf-8">
<!-- No favicon -->
<link rel="icon" href="about:blank"><title>About OTMonitor</title>
<link rel="stylesheet" type="text/css" href="$theme.css">
</head>
<body>
<div id="section">
<h1>About OTMonitor</h1>
<div>
<h2>Software</h2>

<h3>OTMonitor version $version</h3>
This application was created using the Tcl scripting language and a number
of extensions, all of which were released under a
<a href="http://www.tcl.tk/software/tcltk/license.html">BSD-style license</a>.

<h2>Firmware</h2>
The OTGW is currently running
% if {$fwvariant eq ""} {
unknown firmware.
% } else {
the <b>$fwvariant</b> firmware, version $fwversion.
% }

<h2>Icons</h2>

In addition to original artwork, this application uses icons from:
<ul>
<li>The <a href="http://tango.freedesktop.org/">Tango Desktop Project</a>,
which has released its icons into the Public Domain.
<li>The <a href="http://led24.de/iconset/">Led24 icon set</a>, licensed
under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA
3.0</a> license.
<li><a href="http://openclipart.org">Openclipart</a>, where all artists have
released their art into the Public Domain.
</ul>
</div>
</div>
[include footer.inc]
</body>
</html>
