% # -*- html -*-
% global cfg xlate
<html>
<head>
<link rel="stylesheet" type="text/css" href="config.css">
<script>
var query = {"var": "cfg"};
</script>
<script src="status.js"></script>
</head>
<body onload="fieldsetradio('connection')">
<h1>Logging</h1>
<input type="checkbox" id="view,bitflags" [checked cfg(view,bitflags)] onchange="flag(this, 'view', 'bitflags')">
<label for="view,bitflags">Include details of bit fields</label><br>
<input type="checkbox" id="view,messageid" [checked cfg(view,messageid)] onchange="flag(this, 'view', 'messageid')">
<label for="view,messageid">Include message ID</label><br>
<input type="checkbox" id="view,resumelog" [checked cfg(view,resumelog)] onchange="flag(this, 'view', 'resumelog')">
<label for="view,resumelog">Resume normal logging after a summary report</label><br>
<fieldset>
<legend>
<input type="checkbox" id="logfile,enable" [checked cfg(logfile,enable)] onchange="flag(this, 'logfile', 'enable')">
<label for="logfile,enable">Logfile</label>
</legend>
<table width="100%">
<colgroup>
  <col width="15%">
  <col width="*">
</colgroup
<tr>
<td>
Directory:
</td>
<td class="fill">
<input type="text" id="logfile,directory" value="$cfg(logfile,directory)" onchange="input(this, 'logfile', 'directory')">
</td>
</tr>
<tr>
<td>
Name&nbsp;pattern:
</td>
<td>
<input type="text" style="width: 100%;" id="logfile,pattern" value="$cfg(logfile,pattern)" onchange="input(this, 'logfile', 'pattern')">
</tr>
</table>
</fieldset>

<fieldset>
<legend>
<input type="checkbox" id="datalog,enable" [checked cfg(datalog,enable)] onchange="flag(this, 'datalog', 'enable')">
<label for="datalog,enable">Datafile</label>
</legend>
<table width="100%">
<colgroup>
  <col width="15%">
  <col width="*">
  <col style="width: 6em;">
</colgroup
<tr>
<td>
File&nbsp;name:
</td>
<td colspan="2">
<input type="text" style="width: 100%;" id="datalog,file" value="$cfg(datalog,file)" onchange="input(this, 'datalog', 'file')">
</tr>
<tr>
<td>
Interval:
</td>
<td colspan="2">
<input type="number" style="width: 8em;" id="datalog,interval" min="1" max="86400" factor="1000" value="[expr {$cfg(datalog,interval) / 1000}]" step="1" onchange="input(this, 'datalog', 'interval')">
</tr>
<tr>
<td colspan="2">
<input type="checkbox" id="datalog,append" [checked cfg(datalog,append)] onchange="flag(this, 'datalog', 'append')">
<label for="view,bitflags">Append data to file</label>
</td>
<td class="fill">
<button onclick="popup(true)">Configure</button>
</td>
</tr>
</table>
</fieldset>

<div id="popup" class="popup">
<div class="cover">
<div class="toplevel" style="width: 32em;">
<table width="100%">
<colgroup>
  <col width="*">
  <col>
  <col width="*">
  <col>
</colgroup>
<tr>
<th>Available data values</th>
<th></th>
<th>Selected data values</th>
</tr>
<tr>
<td class="fill">
<select id="available" size="10" onchange="buttonstate(this, 'buttonr')">
% foreach n [lsort -dictionary -indices [dict values $xlate]] {
%     set key [lindex [dict keys $xlate] $n]
%     if {$key ni $cfg(datalog,itemlist)} {
<option value="$key">[dict get $xlate $key]</option>
%     }
% }
</select>
</td>
<td>
<button id="buttonr" onclick="selectmove('available', 'selected')" disabled><img src="images/go-next.png"></button>
<br>
<button id="buttonl" onclick="selectmove('selected', 'available', true)" disabled><img src="images/go-previous.png"></button>
</td>
<td class="fill">
<select id="selected" size="10" onchange="buttonstate(this, 'buttonl', 'buttonu', 'buttond')">
% foreach n $cfg(datalog,itemlist) {
%     if {[dict exists $xlate $n]} {
<option value="$n">[dict get $xlate $n]</option>
%     }
% }
</select>
</td>
<td>
<button id="buttonu" onclick="selectorder('selected', -1)" disabled><img src="images/go-up.png"></button>
<br>
<button id="buttond" onclick="selectorder('selected', +1)" disabled><img src="images/go-down.png"></button>
</td>
</tr>
</table>
<table class="center">
<tr>
<td>
<button style="width: 6em; margin: 0 20px;" onclick="popup(false)">Cancel</button>
</td>
<td>
<button style="width: 6em; margin: 0 20px;" onclick="selectlist('selected', 'datalog', 'itemlist')">Done</button>
</td>
</tr>
</table>
</div>
</div>
</div>
</head>
</html>
