%# -*- html -*-
% global theme
<html>
<head>
<link rel="stylesheet" type="text/css" href="$theme.css">
</head>
<body>
<div id="section">
<h1>Message log</h1>
<div>
<iframe src="msglog.html#bottom" width="100%" height="80%"></iframe>
</div>
</div>
[include footer.inc]
</body>
</html>
