<html>
<head>
<link rel="stylesheet" type="text/css" href="otmonitor.css">
<script>
function execute(id) {
    var request = document.getElementById(id);
    var response = document.getElementById("response");
    var xmlHttp = new XMLHttpRequest();
    var name = request.name;
    var cmd = request.item(request.selectedIndex).value;
    xmlHttp.open("POST", "command", false);
    xmlHttp.send(name + "=" + cmd);
    response.innerHTML = "Result = " + xmlHttp.responseText;
}
</script>
</head>
<body>
<div id="section">
<h1>Running commands</h1>
<div>
<form>
Choose which piece of information to request from the gateway:
<select id="request" name="PR" size="">
<option value="A">Version information</option>
<option value="B">Build time and date</option>
<option value="C">Clock speed</option>
<option value="G">Configured GPIO functions</option>
<option value="L">Configured LED functions</option>
<option value="M">Gateway Mode</option>
<option value="O">Setpoint override</option>
<option value="P">Current Smart-Power mode</option>
<option value="R">Remeha thermostat detection</option>
<option value="S">Setback temperature</option>
<option value="T">Gateway tweaks</option>
<option value="V">Reference voltage setting</option>
<option value="W">Domestic hot water setting</option>
</select>
<button onclick="execute('request'); return false">Send</button>
<p id="response">&nbsp;</p>
</form>
</div>
</div>
[include footer.inc]
</body>
</html>
