%# -*- html -*-
% global theme
<html>
<head>
<title>Resources</title>
<link rel="stylesheet" type="text/css" href="$theme.css">
</head>
<body>
<div id="section">
<h1>Resources</h1>
<div>
<ul>
<li><a href="userpages.html">Custom web pages</a>
<li><a href="dbus.html">Using DBus</a>
<li><a href="print.html">Getting gateway settings</a>
</ul>
</div>
</div>
[include footer.inc]
</body>
</html>
