% global gui error theme
<!DOCTYPE html>
<html>
<head><title>Opentherm Gateway Status Summary</title>
<link rel="stylesheet" type="text/css" href="$theme.css">
<script>
var query = {"var" : \["gui", "error"\]};
</script>
<script src="status.js"></script>
</head>
<body>
<div id="section">
<h1>Opentherm Gateway Status Summary</h1>
<div>
% set table1 {
%	chenable	"Central heating enable"
%	chmode		"Central heating mode"
%	service		"Service request"
%	dhwenable	"Domestic hot water enable"
%	dhwmode		"Domestic hot water mode"
%	lockoutreset	"Lockout-reset"
%	coolingenable	"Cooling enable"
%	coolingstatus	"Cooling status"
%	lowpressure	"Low water pressure"
%	otcstate	"Outside temp. comp. active"
%	flame		"Flame status"
%	flamefault	"Gas/flame fault"
%	ch2enable	"Central heating 2 enable"
%	ch2mode		"Central heating 2 mode"
%	airpresfault	"Air pressure fault"
%	fault		"Fault indication"
%	diag		"Diagnostic indication"
%	overtemp	"Water over-temperature"
% }
% set table2 {
%	roomtemp	&deg;C	"Room temperature"
%	outside		&deg;C	"Outside temperature"
%	setpoint	&deg;C	"Room setpoint"
%	boilertemp	&deg;C	"Boiler water temperature"
%	override	&deg;C	"Remote override room setpoint"
%	returntemp	&deg;C	"Return water temperature"
%	controlsp	&deg;C	"Control setpoint"
%	dhwtemp		&deg;C	"Domestic hot water temperature"
%	chwsetpoint	&deg;C	"Max. central heating water setpoint"
%	dhwsetpoint	&deg;C	"Domestic hot water setpoint"
%	modulation	%	"Relative modulation level"
%	pressure	bar	"Central heating water pressure"
%	maxmod		%	"Max. relative modulation level"
%	faultcode	""	"OEM fault code"
% }
% if {[info exists gui(ch2)] && $gui(ch2)} {
%    lappend table2 {*}{
%	roomtemp2	&deg;C	"Room temperature 2"
%	boilertemp2	&deg;C	"Boiler water temperature 2"
%	setpoint2	&deg;C	"Room setpoint 2"
%	dhwtemp2	&deg;C	"Domestic hot water temperature 2"
%	controlsp2	&deg;C	"Control setpoint 2"
%    }
% }
<table width="98%">
% set col 0
% foreach {n s} $table1 {
%	if {![info exists gui($n)]} {
%		set v check-unk.png
%               set class checkunk
%	} elseif {$gui($n)} {
%		set v check-set.png
%               set class checkset
%	} else {
%		set v check-clr.png
%               set class checkclr
%	}
%	if {$col == 0} {
<tr>
% }
<td width="25%">$s</td>
<td width="8%"><img width="16" height="16" class="$class" src="images/blank.png" id="$n"></td>
%	if {[incr col] > 2} {
%		set col 0
</tr>
%	}
% }
</table>
<hr>
<table width="98%">
% set col 0
% foreach {n u s} $table2 {
%	if {[info exists gui($n)]} {set v $gui($n)} else {set v ---}
%	if {$col == 0} {
<tr>
%	} else {
<td width="20px">&nbsp;</td>
%	}
<td width="36%">$s</td>
<td width="8%" align="right" id="$n">$v</td>
<td width="5%">$u</td>
%	if {[incr col] > 1} {
%		set col 0
</tr>
%	}
% }
</table>
<hr>
<table>
<tr>
% for {set i 1} {$i <= 4} {incr i} {
<td align="center" width="100pt">Error 0$i:</td>
<td align="center" width="50pt" id="error$i">$error($i)</td>
% }
</tr>
</table>
</div>
</div>
[include footer.inc]
</body>
</html>
